@font-face {
    font-family: kadwa;
    src: url("/asses/fonts/Kadwa-Bold.ttf");
    src: url("/asses/fonts/Kadwa-Regular.ttf");
}

:root{
    --green-coolor:rgba(10, 73, 10, 1);
    --yellow-color: rgba(255, 193, 7, 1);
    --white-color: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: kadwa;
}
.section{
    text-align: center;
    width: 100vw;
    height: 100vh;
    
}

.header{
    height: 500px;
    background-color: var(--yellow-color);
}

.nav{
    background-color: var(--green-coolor);
    align-items: center;
    width:100% ;
    height: 15%;
    display: flex; 
    justify-content: space-around;
    padding: 20px 20px;
}

.arm{
    color: var(--white-color);
    font-size: 20px;
    padding-left: 50px;
}

.list{
    list-style: none;
    display: flex;
    gap: 20px;

}
.list-item{
    color: var(--white-color);
    font-weight: lighter;
    font-size: 13px;

}
.search{
    display: flex;
    position: relative;
    
}
.search img{
    width: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
}

input{
    border: 1px solid rgb(253, 248, 248);
    background-color: var(--green-coolor) ;
    width: 200px;
    height: 30px;
    color: rgba(255, 255, 255, 0.425);
    margin-right: 1px;
}
select{
    width: 130px;
    height: 30px;
    background-color: var(--green-coolor) ;
    border: 1px solid var(--white-color);
    color: rgba(255, 255, 255, 0.425);
    text-align: center;
}
.nav-icon{
    display: flex;
    align-items: center;

    
    
}
.nav-icon a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 10px;
    display: block;
    padding: 0 10px;

}
.nav-icon img{
    width: 20px;
    display: block;
    margin-left: 5px;   
}

.poster{
    position: relative;

    
}
.text{
    position: absolute;
    text-align: left;
    margin: 50px auto 50px auto;
    left: 15rem;

}
.p-text{
    width: 100px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(180, 200, 177, 1);
    color: var(--green-coolor);
}

.h-text{
    color: var(--green-coolor);
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 10px;
}
.big-text{
    color: var(--green-coolor);
    margin-bottom: 15px;
}

.btn{
    width: 100px;
    height: 10px;
    background-color: rgba(180, 200, 177, 1) ;
    text-decoration: none;
    color:var(--green-coolor);
    padding: 0px 30px 0px 30px;
    border-radius: 10px;

}
.poster-img{
    position: absolute;
    right: 0;
    width: 25rem;
    top:50px
}

.off{
    width: 90px;
    transform: rotate(10deg);
    margin-top: 60px;
}

.star{
    position: relative;
}
.star span{
    position: absolute;
    top: 90px;
    left: 46rem; 
}

.categories{
    padding: 20px 40px 20px 40px;
    position: relative;
    text-align: center;
    max-width:70% ;   
    margin: 0 auto; 
    
}
.categories h1{
    text-align: left;
    color:var(--green-coolor);
}
.btn-2{

    background-color:var(--yellow-color) ;
    text-decoration: none;
    position: absolute;
    top: 25px;
    right: 35px;
    padding: 0 30px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    color:var(--green-coolor);
    
}

.card{

    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.card-item{
    background: url("/asses/images/pexels-lisa-fotios-109275\ 1.png") center  ;
    background-size: contain;
    height: 180px;
    width: 180px;
    background-color: rgba(54, 54, 54, 0.966);
    background-blend-mode: overlay;
    border-radius: 10px;
    text-align: left;
    position: relative;

}
.p1{
    background: url("/asses/images/pexels-marta-dzedyshko-7175448\ 1.png") center  ;
    background-size: contain;
    background-color: rgba(54, 54, 54, 0.966);
    background-blend-mode: overlay;


}
.p2{
    background: url("/asses/images/pexels-olga-1153655\ 1.png") center  ;
    background-size: contain;
    background-color: rgba(54, 54, 54, 0.966);
    background-blend-mode: overlay;


}
.p3{
    background: url("/asses/images/pexels-pixabay-255469\ 1.png") center  ;
    background-size: contain;
    background-color: rgba(54, 54, 54, 0.966);
    background-blend-mode: overlay;


}
.p4{
    background: url("/asses/images/pexels-daniel-reche-1556707\ 1\ \(5\).png") center  ;
    background-size: contain;
    background-color: rgba(54, 54, 54, 0.966);
    background-blend-mode: overlay;


}
.p5{
    background: url("/asses/images/pexels-abhinav-goswami-291528\ 1.png") center  ;
    background-size: contain;
    background-color: rgba(54, 54, 54, 0.966);
    background-blend-mode: overlay;


}
.p6{
    background: url("/asses/images/pexels-cats-coming-1907229\ 1\ \(2\).png") center  ;
    background-size: contain;
    background-color: rgba(54, 54, 54, 0.966);
    background-blend-mode: overlay;


}
.p7{
    background: url("/asses/images/pexels-roman-odintsov-5668545\ 1.png") center  ;
    background-size: contain;
    background-color: rgba(54, 54, 54, 0.966);
    background-blend-mode: overlay;


}

.card-text{
    
    position: absolute;
    bottom: 10px;
    left: 10px;
    

}
.card-text h4{
    color:var(--yellow-color);
}

.card-text p{
    font-size: 10px;
    color:var(--white-color);
}

.card-text a {
    font-size:10px ;
    text-decoration: none;
    color: var(--green-coolor);
    width: 100px;
    padding: 0 30px;
    background-color: var(--yellow-color);
    border-radius: 5px;
}

.categories-2{
    padding: 20px 40px 20px 40px;
    position: relative;
    text-align: center;
    max-width:70% ;   
    margin: 0 auto; 

    

    
}
.categories-2 h1{
    text-align: left;
    color:rgba(10, 73, 10, 1);
}
.btn-2{

    background-color:rgba(255, 193, 7, 1) ;
    text-decoration: none;
    position: absolute;
    top: 25px;
    right: 35px;
    padding: 0 30px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    color:rgba(10, 73, 10, 1) ;
    
}

.card-2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
   
}

.card2-item{
    position: relative;
    background-color: white;
    border: 2px solid rgba(10, 73, 10, 1);
    border-radius: 5px;
    width: 250px;
    text-align: center;
    padding: 15px 10px 15px 10px;

    
}

.heart{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 25px;
}

.apple{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: -50px;
}
.donate{
    width: 150px;
    height: 150px;
    object-fit: cover;

}
.brokli{
    width: 150px;
    height: 150px;
    object-fit: cover;

}

.text-item{
    text-align: left;
    line-height: 20px;
}
.f{
    color:rgba(10, 73, 10, 1) ;
    font-size: 12px;
}
.pomme{
    color: rgba(10, 73, 10, 1);
}
.stars{
    color: rgb(240, 198, 13);
}
b{
    font-size: 10px;
    vertical-align: middle;
}
.price{
    color: rgba(10, 73, 10, 1);
}
.da{
    font-size: 10px;
}
.box{
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}
.group{
    display: flex;
    flex-direction: column;
}


.kg{
    color: rgba(10, 73, 10, 1);
    font-size: 12px;
    
    
}
.drop-down{
    background-color: white;
    color: rgba(10, 73, 10, 1);
    border: 1px solid rgba(10, 73, 10, 1);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    
}
.q-label{
    font-size: 12px;
    color: rgba(10, 73, 10, 1);

}
.quantity{
    width: 80px;
    height: 30px;
    background-color: white;
    color: rgba(10, 73, 10, 1) ;
    border-radius: 5px;
}

.cart-btn{
    color:rgba(10, 73, 10, 1) ;
    background-color:rgb(240, 198, 13) ;
    width: 210px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.container{
    background-color:rgba(10, 73, 10, 1) ;
}


.categories-3{
    padding: 20px 40px 20px 40px;
    position: relative;
    text-align: center;
    max-width:70% ;   
    margin: 0 auto;
    

    
}
.categories-3 h1{
    text-align: left;
    color:rgb(255, 255, 255);
}
.categorie-list{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-bottom: 10px;

}
.categorie-list li a {
    text-decoration: none;
    font-size: 12px;
}

.categories-4{
    padding: 20px 40px 20px 40px;
    position: relative;
    text-align: center;
    max-width:70% ;   
    margin: 0 auto; 
   
    

    
}
.categories-4 h1{
    text-align: left;
    color:rgba(10, 73, 10, 1);
    margin-bottom: 20px;
}
.card-4{
    display: flex;
    justify-content: space-between;
    


}


.card4-item{
    position: relative;
    background-color: rgba(228, 96, 2, 1);
    border-radius: 5px;
    width: 150px;

    text-align: center;
    padding: 30px 10px 15px 10px;

    
}

.cart4-btn{
    color:rgba(10, 73, 10, 1) ;
    background-color:rgb(240, 198, 13) ;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    border: 1px solid rgba(10, 73, 10, 1) ;
}

.text4-item{
    text-align: left;
    line-height: 15px;
}
.f4{
    color:rgba(10, 73, 10, 1) ;
    font-size: 10px;
}
.pomme4{
    color: rgba(10, 73, 10, 1);
}
.stars4{
    color: rgb(240, 198, 13);
    font-size: 10px;
}
.s4{
    font-size: 10px;
}

.price4{
    font-size: 10px;
}
.da4{
    font-size: 8px;
}
.pomkin{
    width: 180px;
    position: absolute;
    z-index: 1;
    top: -40px;
    right: -60px;
}
.banana{
    width: 100px;
    position: absolute;
    z-index: 1;
    top: -20px;
    right: -40px;
}
.pation{
    width: 100px;
    position: absolute;
    z-index: 1;
    top: -20px;
    right: -40px;
    
}
.avacado{
    width: 130px;
    position: absolute;
    z-index: 1;
    top: -20px;
    right: -30px;
}
.container-fruit{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 8px;
    overflow: hidden;
    background-color: rgba(24, 23, 23, 0.849);
    background-blend-mode: overlay;
    margin-bottom: 30px;
    margin-top: 20px;


}

.col-6{
    width: 50%;
    height: 300px;
    position: relative;



}
.col-6::before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 23, 23, 0.493);
    background-blend-mode: overlay;
}
.col-6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;



}

.overlay{
    position: absolute;
    top: 10%;
    left: 20%;
    text-align: left;
    z-index: 2;
    color: white;
    width: 60%;
    padding: 20px;
}
.overlay p{
    font-size: 12px;
    margin-bottom: 10px;
}

.btn-container{
    background-color:var(--yellow-color) ;
    text-decoration: none;
    padding: 0px 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color:rgba(10, 73, 10, 1) ;
}

.categorie-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 40px;
}

.text-categorie{
    text-align: left;
    max-width: 400px;

}

.text-categorie h1{
    color:rgba(10, 73, 10, 1) ;
}

.text-categorie p{
    font-size: 12px;
    color: rgba(10, 73, 10, 1);
    margin-bottom: 20px;
}
.btn-categorie{
    background-color:rgba(255, 193, 7, 1) ;
    padding: 0 35px;
    font-size: 15px;
    border-radius: 5px;
    border: none;

}

.btn-categorie a{

    text-decoration: none;
    color:rgba(10, 73, 10, 1) ;


}

.pic-categorie{
    display: flex;
    width: 45%;
    gap: 40px;

}
.pic-card{
    border: 1px solid var(--green-coolor);
    border-radius: 5px;
    width: 230px;
    text-align: left;
    padding: 15px;

}
.pic-card h5{
    color: var(--green-coolor);

}

.pic-card p{
    color: var(--green-coolor);
    font-size: 10px;
    width: 70%;

}

.profile-card{
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.pic-card img{
    width: 50px;
    object-fit: cover;
}
.profile-text{
    display: flex;
    flex-direction: column;
    margin-left: 5px;

}
.profile-card h6{
    margin: 0;
    color: var(--green-coolor);

}

.blog{
    width: 100%;
    text-align: center;

}
.blog-title{
    text-align: center;
    display: inline-block;
    padding-bottom: 200px;
}
.blog-title h1{
    color:var(--green-coolor) ;

}
.blog-title p{
    color: var(--green-coolor);
    font-size: 10px;
    width: 450px;
    margin-bottom: 30px;
}

.blog-footer{
    position:relative;
}
.blog-card{
    max-width: 80%;
    margin: 0 auto;
    gap: 70px;
    display: flex;
    position: absolute;
    z-index: 2;
    top: -150px;
    align-items: center;
    right: 400px;

}

.blog-item{
    width: 200px;
    border-radius: 5px;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.753);
 


}
.blog-item img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 5px;
}

.blog-item h5{
    padding: 0 5px 0 10px;
    color:var(--green-coolor);


}

.blog-item p{
    font-size: 12px;
    padding: 0 5px 0 10px;
    color:var(--green-coolor);


}
.blog-item button {
    padding: 0 5px 0 10px;
    border: none;
    background-color:var(--yellow-color);
    padding: 0 50px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin:10px  ;

}
.blog-item button a{
    text-decoration: none;
    color:var(--green-coolor) ;
}

.footer{

    background-color:var(--green-coolor) ;
    display: flex;
    height: 600px;
    position: relative;
  

}

.footer-item{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: white;
    padding-top: 3rem;
    position: relative;



}
.foodsmart{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 350px;


}

.foodsmart h5{
    color:var(--yellow-color);

}

.foodsmart p{
    font-size: 10px;
}
.Navigation{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 5rem;
    margin-left: 50px ;
}

.Navigation ul{
    list-style: none;

}
.Navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: lighter;
}

.Subscribe{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 50px ;
    width: 250px;
    padding-top: 3rem;

}

.Subscribe p{
    font-size: 10px;
    padding: 5px 0 15px 0;
}
.form{
    display: flex;
}
.email{
    border: 1 px solid white;

}
.email::placeholder{
    color: rgb(247, 244, 244);
    font-size: 10px;
    padding-left: 10px;
}

.submit{
    background-color:var(--yellow-color) ;
    color: black;
}






